body {
  background-image: url("https://codefellows.github.io/code-201-guide/curriculum/class-06/lab/assets/salmon.png");
}

thead {
  font-size: 400px;
}


td, th {
  border: 2px solid;
  text-align: left;
  padding: 8px;
}

ul li {
  font-size: 25px;
  text-align: center;
}